<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381949588902-n2119n0faunlflmigta3no2t2e5r2utn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381949588902-n2119n0faunlflmigta3no2t2e5r2utn</string>
	<key>API_KEY</key>
	<string>AIzaSyAo_ZpEjvLFifxTXEAxaZkqpi2xSzwGT58</string>
	<key>GCM_SENDER_ID</key>
	<string>381949588902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>salva.Marvel-app</string>
	<key>PROJECT_ID</key>
	<string>marvel-app-67e3b</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-app-67e3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381949588902:ios:78308e6aaad33a50f84b67</string>
</dict>
</plist>